/* open-sans-regular - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/open-sans-v27-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/open-sans-v27-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/open-sans-v27-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/open-sans-v27-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local(""),
		url("../fonts/open-sans-v27-latin-italic.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/open-sans-v27-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 700;
	src: local(""),
		url("../fonts/open-sans-v27-latin-700italic.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/open-sans-v27-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
	color: #454545;
	font-family: "Open Sans";
}
.main-content {
	width: 90vw;
	margin: auto;
	padding-top: 80px;
	padding-left: 3.125%;
	padding-right: 3.125%;
	padding-bottom: 3.125%;
}
.plainflex {
	display: flex;
	flex-wrap: wrap;
	transition: all 0.3s ease;
}
.plainflex > div {
	flex: 1 1 auto;
	padding-bottom: 0.6em;
}
.tall {
	height: 90vh;
}
.h100 {
	height: 100%;
}
/* .empty td {
    padding: 1em 0;
} */
table {
	font-size: 12px;
	width: 100% !important;
}
.alert {
	border: 0;
	border-radius: 0.2em;
	color: #fff;
	background: #0074d9;
	margin: 15px;
}
.alert-success {
	background: #2ecc40;
}
.alert-warning {
	background: #ff851b;
}
.alert-disabled {
	background: #ff4136;
}

.input-field {
	display: flex;
}
.input-field input {
	flex: 1 1 auto;
	margin-right: 1em;
}

article {
	display: flex;
	flex-direction: column;
}
article main {
	flex: 1 1 auto;
	width: 100%;
}
table .label {
	font-size: 12px !important;
}

.member-list > div {
	display: inline-block;
	width: 50%;
}
.member {
	padding: .25em;
	font-size: 12px;
}
.member-name {
	font-weight: bold;
}
.member-id {
	font-size: 10px;
}
.member-hours {
	font-size: 10px;
}
.member label {
	opacity: .5;
}
.checkedIn .member {
	background: #0074d9;
	color: #fff;
}
