<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hours</title>
    <link rel="stylesheet" href="picnic.min.css">
    <link rel="stylesheet" href="hours.css">

</head>
<body>
    <nav class="">
      <a href="#" class="brand">
        <span>Hero Hours</span>
      </a>
    </nav>
    <div id="app" class="plainflex two main-content">
      <div>
        <article class="card">
          <main>

          <table class="primary center">
            <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Total Hours</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row in usersData">
                <td>{{row["User ID"]}}</td>
                <td>{{row["First Name"]}}</td>
                <td>{{row["Last Name"]}}</td>
                <td>{{convertTimestampToDuration(row["Total Seconds"])}}</td>
                <td>
                  <span
                    v-bind:class="{success: row['Checked In'] == true, primary: row['Checked In'] == false}"
                    class="label"
                    >{{ row["Checked In"] ? 'Checked In' : 'Checked Out'
                    }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </main>

        </article>
      </div>
      <div v-if="onLine" class="third">
        <article class="card">
          <main>

          <table class="primary center">
            <thead>
              <tr>
                <th>ID</th>
                <th>Operation</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in localLogEntries">
                <td>{{item.userID}}</td>
                <td>
                  <span
                    v-bind:class="{success: item.operation == 'checkIn', primary: item.operation == 'checkOut'}"
                    class="label"
                    >{{item.operation}}</span
                  >
                </td>
                <td>
                  <span
                    v-bind:class="{success: item.status == 'success', warning: item.status == 'error'}"
                    class="label"
                    >{{item.status}}&nbsp;{{item.message}}</span
                  >
                </td>
              </tr>
              <tr class="empty" v-if="localLog.length <= 0">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
              </tr>
              <tr class="empty" v-if="localLog.length <= 1">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
              </tr>
              <tr class="empty" v-if="localLog.length <= 2">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
              </tr>
              <tr class="empty" v-if="localLog.length <= 3">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
              </tr>
              <tr class="empty" v-if="localLog.length <= 4">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
              </tr>
              <tr class="empty" v-if="localLog.length <= 5">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
              </tr>
              <tr class="empty" v-if="localLog.length <= 6">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
              </tr>
              <tr class="empty" v-if="localLog.length <= 7">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
              </tr>
              <tr class="empty" v-if="localLog.length <= 8">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
              </tr>
              <tr class="empty" v-if="localLog.length <= 9">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </main>

          <footer>
            <h3>
              Enter User ID
              <span
                v-bind:class="{success: mode.operation == 'checkIn', primary: mode.operation == 'checkOut'}"
                class="label"
                >{{this.mode.text}}</span
              >
            </h3>
            <form @submit.prevent="submitForm">
              <div class="input-field">
                <input
                  autocomplete="off"
                  ref="userID"
                  type="text"
                  id="userID"
                  v-model="form.userID"
                  placeholder="User ID"
                />
                <button>Submit</button>
              </div>
              <p>
                Enter <strong>+00</strong> to enter
                <strong>Check In</strong> mode, enter <strong>+01</strong> to
                enter <strong>Check Out</strong> mode, enter
                <strong>*</strong> to reload this page
              </p>
            </form>
          </footer>
        </article>
      </div>
      <div v-else>
        <span class="plainflex alert alert-disabled">Offline</span>
      </div>
    </div>
</body>
<script src="vue.global.js"></script>
<script src="hours.js"></script>
</html>
